<%= %{<h1 id="post-back">#{flash[:notice]}</h1>} if flash[:notice] %>
<div id="content">
  <h1 id="header"><span>Berenstain Bear book rental</span></h1>
  <h3 id="problem"><span>Problem:</span></h3>
  <p>Your family loves the "Bears" but your local library doesn't carry many titles (after all there are <a href="http://en.wikipedia.org/wiki/List_of_The_Berenstain_Bears_books" target="_blank">over 265 titles</a> and counting) and there is no way you can afford to buy them new. 
  </p>
  <h3 id="solution"><span>Solution:</span></h3>
  <p>How would you like to rent the entire collection for a reasonable price? Sunnydirtroad may establish a Netflix of sorts for Berenstain Bear books if there is enough interest.
  We are thinking about charging roughly $6 to rent 8 titles, this includes shipping and return packaging.
  </p>
  <h3 id="interested"><span>Interested? Send your email:</span></h3>
  <form method="post">
    <input name="email" size="30" /> <button type="submit">Send</button>
  </form>
  </p>
  <p>
</div>
<div id="footer">
  <div id="footer-body">
  </div>
</div>
